
<div class="panel panel-primary">
	<div class="panel-heading"><center><b>SimpleStock</b></center></div>
		<div class="panel-body">
		
				<p>Welcome to Andrew Cheng's Cisco Programming Challenge! Add a stock using the navigation panel to your left and use the same panel to select and view stock data.</p>
			
		</div>	
	</div>
</div>	

